*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  font-family: "Kumbh Sans", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(to bottom, #af67e9, #6565e7);
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1d1e35;
}

.list__text--main {
  font-size: 1.4rem;
  font-weight: 400;
  color: #4a4b5e;
}

.list__text--collapsible {
  font-size: 1.2rem;
  color: #787887;
  line-height: 1.5;
}

.card-wrapper {
  background-color: #fff;
  width: 80%;
  border-radius: 25px;
  margin-top: 3rem;
  -webkit-box-shadow: 0 40px 50px -20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 40px 50px -20px rgba(0, 0, 0, 0.4);
  padding: 0.5rem 2rem 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

@media (min-width: 768px) {
  .card-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 60%;
    padding: 0;
    margin: 0;
  }
}

.image-section {
  background: url(../images/bg-pattern-mobile.svg) no-repeat center bottom;
  height: 10rem;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .image-section {
    width: 50%;
    background: url(../images/bg-pattern-desktop.svg) no-repeat 100% 75%;
    background-size: 200%;
    min-height: 400px;
    overflow: hidden;
    margin: 0;
  }
}

.image-wrapper {
  overflow: hidden;
}

@media (min-width: 768px) {
  .text-section {
    width: 50%;
    margin: 4rem 8rem 6rem 8rem;
  }
}

.computer-image {
  -webkit-transform: translateY(-57%);
          transform: translateY(-57%);
  display: block;
  margin: 0 auto;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .computer-image {
    -webkit-transform: none;
            transform: none;
    height: 200px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}

h1 {
  text-align: center;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  h1 {
    text-align: left;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
  }
}

.list {
  list-style-type: none;
}

.list__item {
  border-bottom: 1px solid #e7e7e9;
}

.list__heading-row {
  border: none;
  padding: 1.5rem 0;
  position: relative;
  cursor: pointer;
}

.list__dropdown {
  position: absolute;
  right: 0;
  margin-left: 1.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.list__text--main {
  display: inline-block;
  padding-right: 2rem;
}

.list__text--collapsible {
  padding-bottom: 1.5rem;
  display: none;
}

.list__text--visible {
  display: inline-block;
}

.active-text-bold {
  font-weight: 700;
}

.active-dropdown {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*# sourceMappingURL=styles.css.map */